[submodule "samples/sample-counting-beads"]
	path = samples/sample-counting-beads
	url = https://github.com/gomobile/sample-counting-beads.git
[submodule "samples/sample-html5-geolocation"]
	path = samples/sample-html5-geolocation
	url = https://github.com/gomobile/sample-html5-geolocation.git
