[submodule "samples/sample-counting-beads"]
	path = samples/sample-counting-beads
	url = https://github.com/gomobile/sample-counting-beads.git
[submodule "samples/sample-html5-geolocation"]
	path = samples/sample-html5-geolocation
	url = https://github.com/gomobile/sample-html5-geolocation.git
[submodule "samples/sample-flood-puzzle"]
	path = samples/sample-flood-puzzle
	url = https://github.com/gomobile/sample-flood-puzzle.git
[submodule "samples/sample-rpn-calculator"]
	path = samples/sample-rpn-calculator
	url = https://github.com/gomobile/sample-rpn-calculator.git
[submodule "samples/sample-where-is-my-car"]
	path = samples/sample-where-is-my-car
	url = https://github.com/gomobile/sample-where-is-my-car.git
